@charset "UTF-8";

/* Configurações Gerais*/
*{
    margin: 0px;
    padding: 0px;
    font-family: "Marcellus", sans-serif, arial;
}
img{
    transition: 0.6s;
}
img:hover{
 transform: scale(1.03);
}
.autor{
    font-style: italic;
}
p{
    line-height: 25px;
    font-weight: 400;
}

/*fonte marcellus*/
.marcellus-regular {
    font-family: "Marcellus", serif;
}
span.destaque{
    width: 100%;
    display: block;
    font-family: "Marcellus", Arial, Helvetica, sans-serif;
    text-align: center ;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 50px;
    color: rgb(241, 183, 35);
    margin:50px 0;
}
/* barra de navegação*/

.navbar-container{
    position: sticky;
    background-color: rgb(242, 176, 141);
    display: flex;
    height: 100px;
    width: 100%;
}
.logo{
    margin-left: 10px;
    width: 200px;
    margin-top: 15px;
}
.navbar-itens{
    position: absolute;
    right: 0;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    margin-right: 10px;
}
.navbar-itens li{
    display: inline-block;
    margin-left: 10px;
}
.navbar-itens a{
    color: rgb(212, 102, 43);
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    transition: 0.5s;
}
.navbar-itens a:hover{
    color: rgb(255, 255, 255);
}

.fa-brands{
    transition: 0.5s;
    font-size: 35px;
}

.fa-brands#youtube{
    margin-right: 10px;
    color: rgb(192, 7, 7);
}
.fa-brands#youtube:hover{
    color: red;
}
.fa-brands#tiktok{
    color: rgb(0, 0, 0);
}
.fa-brands#tiktok:hover{
    color: rgb(255, 255, 255);
}

/* Receita em destaque*/

.pagina-destaque{
    padding: 20px;
    width: 70vw;
    margin: 0px auto;
}
.texto-receita-destaque{
    margin: 20px 0;
    text-align: justify;
}
.texto-receita-destaque p{
    text-indent: 20px;
}
.imagem-destaque img{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.679);
    border-radius: 10px;
    width: 600px;
}
.imagem-destaque{
    text-align: center;
}
.imagem-destaque a{
    text-decoration: none;
    font-weight: 600;
    color: white;
    transition: 0.5s;
    background-color: rgb(212, 102, 43);
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
}
.imagem-destaque a:hover{
    color: rgb(212, 102, 43);
    background-color: rgb(255, 255, 255);
    border: 0px solid rgba(32, 32, 32, 0.315);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.308);
}
.descricao-destaque p{
    width: 600px;
    margin: 20px auto;
    text-align: justify;
}
.fa-star{
    color:rgb(224, 154, 3);
}

/*Imagem de fundo do tipo de receita(essa classe somente nos index de cada página*/
.bg-imagem-receita{
    display: flex;
    width: 70vw;
    background-color: red;
    background-image: url(../imagens/receita-exemplo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Novas receitas*/

.novas-receitas{
    display: flex;
    width: 70vw;
    margin: 50px auto;
    justify-content: space-around;
}
.receita{
  margin: 20px 5px;
}
.receita img{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.603);
    border-radius: 10px;
    min-width: 400px;
    width: 26vw;
    transform: rotate(360);
}

.descricao p{
    text-align: justify;
    min-width: 380px;
    width: 26vw;
}
.descricao h1,h2{
    text-align: center;
}
.receita a{
    text-decoration: none;
    font-weight: 600;
    color: white;
    transition: 0.5s;
    background-color: rgb(212, 102, 43);
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px; 
    padding-left: 20px;
}

.receita a:hover{
    color: rgb(212, 102, 43);
    background-color: rgb(255, 255, 255);
    border: 0px solid rgba(32, 32, 32, 0.315);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.308);
}

/* Vídeos*/
.videos{
    display: flex;
    width: 70vw;
    min-width: 805px;
    margin: 30px auto;
}

.video{
    margin: 0 auto;
}

/* Sobre*/
.sobre{
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 40px;
    padding: 20px;
    width: 70vw;
    display: flex;
    margin: 100px auto;
}
.img-sobre img{
    width: 300px;
    height: 300px;
    border: 4px solid rgb(212, 102, 43);
    border-radius: 50%;
    background-color: rgb(212, 102, 43);
    margin-right: 20px;
    box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.486);
}
.dados-sobre{
    max-width: 800px;
    text-align: justify;
    margin: 0 auto;
}
.dados-sobre h2{
    margin-bottom: 20px;
    font-size: 30px;
}
figcaption{
    width: 200px;
    margin: auto;
}

/* Botao ir ao topo*/
.ir-ao-topo {
    display: flex;
    margin-left: 80%;
}
.fa-arrow-up {
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 80px;
    background-color: rgb(212, 102, 43);
    color: rgb(255, 255, 255);
    border-radius: 50%;
}
.fa-arrow-up:hover{
    background-image: linear-gradient(to top,rgb(156, 64, 14),rgb(212, 102, 43), rgb(240, 137, 82));
    
}
/* Rodapé*/
footer{
    text-align: center;
    margin-bottom: 10px;
}